-
    var content = {
        'labels' : {
            'title' : {
                'en' : 'Title',
                'ru' : 'Заголовок',
            },
            'invite' : {
                'en' : 'You have new feedback message from dicomaas.com!',
                'ru' : 'Новое обращение в форме обратной связи dicomaas.com!',
            },
            'user' : {
                'en' : 'Name: <span style="color: '+strongColor+';")>'+userName+'</span>',
                'ru' : 'Имя: <span style="color: '+strongColor+';")>'+userName+'</span>',
            },
            'mail' : {
                'en' : 'E-mail: <span style="color: '+strongColor+';")>mail@mail.mail</span>',
                'ru' : 'E-mail: <span style="color: '+strongColor+';")>mail@mail.mail</span>',
            },
            'messageLabel' : {
                'en' : 'Сообщение:',
                'ru' : 'Message:',
            },
            'message' : {
                'en' : '<span style="color: '+strongColor+';")>сообщение.....</span>',
                'ru' : '<span style="color: '+strongColor+';")>message.....</span>',
            },
            'userName' : {
                'en' : 'Your username: ',
                'ru' : 'Ваш ник: ',
            },
            'goodbye' : {
                'en' : 'Regards,<br> The GoAntiFraud team',
                'ru' : 'С наилучшими пожеланиями,<br> команда GoAntiFraud',
            },
        },

    };