-
    var common = {
        'language'  : 'en',
        'labels'   : {
            'viewOnline': {
                'en': 'View online',
                'ru': 'Посмотреть онлайн',
            },
            'unSubscribe': {
                'link': {
                    'en': 'Unsubscribe',
                    'ru': 'Отписаться',
                },
                'text': {
                    'en': ' from future marketing emails.',
                    'ru': ' от рассылки.',
                },
            },
            'privacyPolicy': {
                'en': 'View Our Privacy Policy',
                'ru': 'Политика конфиденциальности',
            },
            'linkLabel': {
                'en': 'See Details',
                'ru': 'Подробнее',
            },
            'talkToUs': {
                'en': 'Talk to us:',
                'ru': 'Связаться с нами:',
            },
            'followUs': {
                'en': 'Follow us:',
                'ru': 'Мы в социальных сетях:',
            },
            'receiveNewsInOtherWay': {
                'en': 'Receive news in other way:',
                'ru': 'Мы в мессенджерах:',
            },
            'ps': {
                'text': {
                    'en': 'Please do not reply to this message via e-mail. This address is automated, unattended, and cannot help with questions or requests.',
                    'ru': 'Внимание: это письмо было отправлено автоматически и не требует ответа на него.',
                },
                'bye': {
                    'en': 'Regards,<br> The Dicomaas team',
                    'ru': 'С уважением, <br>Команда Dicomaas',
                },
            },

            'social': {
                'youtube': {
                    'en' : 'https://www.youtube.com/',
                    'ru' : 'https://www.youtube.com/',
                },'facebook': {
                    'en' : 'https://www.facebook.com/',
                    'ru' : 'https://www.facebook.com/',
                },'twitter': {
                    'en' : 'https://twitter.com/',
                    'ru' : 'https://twitter.com/',
                },'pinterest': {
                    'en' : 'https://www.pinterest.co.uk/',
                    'ru' : 'https://ru.pinterest.com/',
                },'vk': {
                    'en' : 'http://vk.com/',
                    'ru' : 'http://vk.com/',
                },

                'telegram': {
                    'en' : 'https://telegram.me/',
                    'ru' : 'https://telegram.me/',
                },'messenger': {
                    'en' : 'https://www.messenger.com/t/',
                    'ru' : 'https://www.messenger.com/t/',
                },'viber': {
                    'en' : 'viber://pa?chatURI=',
                    'ru' : 'viber://pa?chatURI=',
                },'whatsup': {
                    'en' : 'https://web.whatsapp.com/send?phone=',
                    'ru' : 'https://web.whatsapp.com/send?phone=',
                },'skype': {
                    'en' : 'skype:live:',
                    'ru' : 'skype:live:',
                },
            },
        }
    };