- var imagePathLocal = '../web/images/email/';
- var imagePathRemote = 'https://dicomaas.com/images/email/';
- var imagePath = imagePathLocal;

-
    var siteUrl = {
        'label': 'my-site.com',
        'url': 'https://my-site.com',
    };
-
    var siteEmailInfo = {
        'label': 'mail@my-site.com',
        'url': 'mailto:mail@my-site.com',
    };

- var winWidth          = '700';
- var contentWidth      = '650';
- var colorDocBg        = '#d8d8d8';
- var colorBlue         = '#0b3873';
- var colorBlueLight    = '#8da8d7';
- var colorBlueDark     = '#021b43';
- var colorGrey         = '#3f3f3f';
- var fontFamily        = 'Arial';
- var lineHeight        = 1.5;

- var fontSizeXS        = '12px';
- var fontSizeS         = '14px';
- var fontSizeM         = '16px';
- var fontSizeL         = '20px';
- var fontSizeXl        = '24px';

- var isViewOnline              = true;
- var isSocialLinks             = true;
- var isFeedbackLinks           = true;
- var isCancelSubscription      = true;
- var isPrivacyPolicy           = true;