- var imagePathLocal = '../web/images/email/';
- var imagePathRemote = 'https://dicomaas.com/images/email/';
- var imagePathManager = 'http://goantifraud.com/manager/scripts/resources/img/email/';
- var imagePath = imagePathRemote;
- var imageAlt = 'GoAntiFraud';
- var winWidth = '700px';
- var colorDocBg = '#fff';
- var colorWinBg = '#fff';
- var spaceHorBig = '85px';
- var spaceHorSmall = '50px';
- var fontSizeXS = '13px';
- var fontSizeS = '14px';
- var fontSizeM = '16px';
- var fontSizeL = '22px';
- var fontSizeXl = '24px';
- var lineHeight = 1.5;
- var colorFont = '#818080';
- var fontFamily = 'Arial';
- var colorFooterBg = '#053473';
- var colorFooterFont = '#fff';
- var colorFooterFontHeader = '#7daafa';
- var contentWidthBig = '600px';
- var contentWidthSmall = '495px';
- var colorBorder = '#cccccc';
- var colorSeparator = '#d8d8d8';
- var borderGlobalColor = '#cbcbcb';
- var online = 'https://goantifraud.com/email/weekly-tips-en.html';
- var linkColor = '#053473';
- var strongColor = '#7daafa';
- var userName = 'User_name';
- var marginM = '10px';
- var marginL = '20px';
- var marginXL = '25px';
- var marginXXL = '35px';
- var marginXXXL = '45px';

- var isContentInside = true;

- var isViewOnline = true;


- var isPhone = true;
- var isUnsubscribe = false;
- var isMessengers = true;