include functions
include mixin
include content
include defaults
include data

block options

block defaults

+table({
    'bgcolor': colorDocBg,
    'height': '100%',
})
    +td({
        'valign': 'middle'
    })
        +table({
            'width': winWidth,
        })
            +td

                +separator({
                    'height': '10px',
                })

                +table({
                    'bgcolor': '#fff',
                })
                    +td
                        +table({
                            'width': contentWidth,
                            'height': '40',
                        })
                            +td({
                                'align': 'left',
                                'valign': 'middle',
                            })

                                +iconLink({
                                    'href': 'mailto:info@goantifraud.com',
                                    'iconName': 'play.png',
                                    'iconWidth': '10',
                                    'iconHeight': '12',
                                    'separator': 10
                                }) посмотреть онлайн версию


                            +td({
                                'align': 'right',
                                'valign': 'middle',
                            })
                                - if(isSocialLinks) {

                                +socialLinks({
                                    'align': 'right'
                                })

                                - }



                +separator({
                    'height': '10px',
                    'background': imagePath + 'shadow-top-bottom.png',
                })



                +table({
                    'height': '78',
                })
                    +td
                        img(src=imagePath + "dicomaas-banner-header.png" alt="dicomaas.com" width= winWidth height="78" style= {'display': 'block'})



                +separator({
                    'height': '10px',
                    'background': imagePath + 'shadow-top-bottom.png',
                })



                |
                |
                // [content] starts
                |
                |
                |
                block content
                |
                |
                // [content] ends
                |
                |

                +separator({
                    'height': '10px',
                    'background': imagePath + 'shadow-top-bottom.png',
                })

                +table({
                    'bgcolor': '#fff',
                })
                    +td
                        +table({
                            'width': contentWidth,
                            'height': '80',
                        })
                            +td({
                                'align': 'left',
                                'valign': 'middle',
                            })

                                - if(isFeedbackLinks) {

                                +text({
                                    'font-size': fontSizeS,
                                    'color': colorBlue
                                }) Обратная связь:
                                    +separator({
                                        'height': '5px',
                                    })
                                    +feedbackLinks({
                                        'width': '130',
                                        'align': 'left'
                                    })

                                - }

                            +td({
                                'align': 'right',
                                'valign': 'middle',
                            })
                                +container({
                                    'width': '150',
                                    'align': 'right',
                                })

                                    +iconLink({
                                        'href': siteUrl.url,
                                        'iconName': 'home.png',
                                        'iconWidth': '13',
                                        'iconHeight': '12',
                                    }) !{siteUrl.label}
                                    +separator({
                                        'height': '5px',
                                    })
                                    +iconLink({
                                        'href': siteEmailInfo.url,
                                        'iconName': 'envelope.png',
                                        'iconWidth': '16',
                                        'iconHeight': '12',
                                    }) !{siteEmailInfo.label}


                +separator({
                    'height': '10px',
                    'background': imagePath + 'shadow-top-bottom.png',
                })


                +table({
                    'bgcolor': colorBlueDark,
                })
                    +td
                        +table({
                            'width': contentWidth,
                            'height': '40',
                        })
                            +td({
                                'align': 'center',
                                'valign': 'middle',
                                'color': '#fff',
                            })

                                - if(isCancelSubscription) {

                                +a({
                                    'href': '#',
                                    'styles': {
                                        'color': colorBlueLight,
                                        'font-size': fontSizeS,
                                        'font-family': fontFamily,
                                        'text-decoration': 'underline',
                                        'line-height': lineHeight,
                                    }
                                }) Отписаться от рассылки

                                | &nbsp; | &nbsp;

                                - }

                                - if(isPrivacyPolicy) {

                                +a({
                                    'href': '#',
                                    'styles': {
                                        'color': colorBlueLight,
                                        'font-size': fontSizeS,
                                        'font-family': fontFamily,
                                        'text-decoration': 'underline',
                                        'line-height': lineHeight,
                                    }
                                }) Политика конфиденциальности

                                - }




                +separator({
                    'height': '10px',
                    'background': imagePath + 'shadow-top-bottom.png',
                })


