include functions
include mixin
include defaults
include data

block options

block defaults

+table({
    'bgcolor': colorDocBg,
    'height': '100%',
})
    +td({
        'valign': 'middle'
    })
        +table({
            'width': winWidth,
        })
            +td
                +separator({
                    'height': '20px',
                })
                +table({
                    'bgcolor': '#053473',
                    'height': '80px',
                })
                    +td
                        +table({
                            'width': contentWidthBig,
                            'height': '100%',
                        })
                            +td({
                                'align': 'left',
                                'valign': 'middle',
                            })
                                img(src=imagePath+"logo-blue.png" alt="dicomaas.com" width="164" height="44" style= {'display':'block'})
                            +td({
                                'align': 'right',
                                'valign': 'middle',
                            })
                                - if(isViewOnline) {
                                +a({
                                    'href': online,
                                    'styles': {
                                        'color': colorFont,
                                        'font-size': fontSizeM,
                                        'font-family': fontFamily,
                                        'text-transform': 'uppercase',
                                        'text-decoration': 'none',
                                        'vertical-align': 'middle',
                                    }
                                })= [common.labels.viewOnline[common.language]]

                                span(style={
                                    'color': '#e2e3e3',
                                    'font-size': fontSizeM,
                                    'font-family': fontFamily,
                                    'vertical-align': 'middle',
                                }) &nbsp;&nbsp;|&nbsp;&nbsp;
                                - }


                                +a({
                                    'href': 'https://dicomaas.com/' + common.language,
                                    'styles': {
                                        'color': strongColor,
                                        'font-size': fontSizeM,
                                        'font-family': fontFamily,
                                        'text-transform': 'uppercase',
                                        'text-decoration': 'none',
                                        'vertical-align': 'middle',
                                    }
                                }) dicomaas.com




                +table({
                    'height': '10px',
                    'background': imagePath + 'shadow-top-bottom.png',
                })
                    +td


                - if(isContentInside) {

                +table({
                    'bgcolor': colorWinBg,
                })
                    +td
                        +table({
                            'width': contentWidthBig,
                        })
                            +td


                                block content
                -} else {

                block content

                -}

                +separator({
                    'bgcolor': colorFooterFontHeader,
                    'height': '1px',
                })
                +table({
                    'bgcolor': colorFooterBg,
                })
                    +td
                        +separator({
                            'height': '15px',
                        })
                        +table({
                            'width': contentWidthSmall,
                        })
                            +td({
                                'color': '#e0e0e0',
                                'font-family': fontFamily,
                                'font-size': fontSizeXS,
                                'align': 'center',
                            })

                                - if(isUnsubscribe) {

                                +a({
                                    'href': '#unsubscribe-link',
                                    'styles': {
                                        'color': linkColor,
                                        'font-size': fontSizeXS,
                                        'font-family': fontFamily,
                                        'text-decoration': 'underline',
                                        'vertical-align': 'top',
                                    }
                                })= [common.labels.unSubscribe.link[common.language]]
                                | !{common.labels.unSubscribe.text[common.language]}
                                | &nbsp;

                                - }



                                - if(isViewOnline) {
                                | &nbsp;&nbsp;|&nbsp;&nbsp;

                                +a({
                                    'href': online,
                                    'styles': {
                                        'color': linkColor,
                                        'font-size': fontSizeXS,
                                        'font-family': fontFamily,
                                        'text-decoration': 'underline',
                                        'vertical-align': 'top',
                                    }
                                })= [common.labels.viewOnline[common.language]]
                                - }


                        +separator({
                            'height': '15px',
                        })

                +separator({
                    'height': '20px',
                })


