extends ../../config/layout-modal
block options
    -
        options = {
            'modalId'       : siteOptions.modalAwesome.id.first,
            'win'           : {
                'anim' : {
                    'in' : 'zoomIn',
                    'out' : 'zoomIn',
                },
            },
            'work'          : '',
        }
block content
    button(class='awModalClose') close
        button(class='awModalClose') close
        - var val = 0;
        while val < 10
            p= val++
    button(class='awModalOpen' data-awesome-modal=siteOptions.modalAwesome.id.second) Open 2