extends ../../config/layout-modal
block options
    -
        options = {
            'modalId'       : siteOptions.modalAwesome.id.third,
            'win'           : {
                'anim'      : {
                    'in'    : 'downToTop',
                    'out'   : 'downToTop',
                },
            },
            'work'          : '',
        }
block content
    - var val = 0;
    while val < 25
        p= val++
    +button({
        'className' : 'awModalClose',
        'title' : 'button close',
    })

