extends ../../config/layout-modal
block options
    -
        options = {
            'modalId'       : siteOptions.modalAwesome.id.sidebarRight,
            'mode'          : 'sidebarRight',
            'win'           : {
                'anim'      : {
                    'in'    : 'sidebarToLeft',
                    'out'   : 'sidebarToRight',
                },
            },
            'work'          : '',
        }
block content
    - var val = 0;
    while val < 10
        p= val++
    +button({
        'className' : 'awModalClose',
        'title' : 'button close',
    })

