extends ../../config/layout-modal
block options
    -
        options = {
            'modalId'       : siteOptions.modalAwesome.id.sidebarLeft,
            'mode'          : 'sidebarLeft2',
            'win'           : {
                'anim'      : {
                    'in'    : 'sidebarToRight',
                    'out'   : 'sidebarToLeft',
                },
            },
            'work'          : '',
        }
block content
    - var val = 0;
    while val < 10
        p= val++
    button(class='awModalOpen' data-awesome-modal=siteOptions.modalAwesome.id.third) Open 3
    +button({
        'className' : 'awModalClose',
        'title' : 'button close',
    })

