-
    siteOptions.ver = '#1';
    siteOptions.imagePrefix = '. ПРЕФИКС К КАРТИНКАМ';
    siteOptions.pathImages = 'images/';
    siteOptions.modalAwesome.id = {
        'first'         : 'modal-1',
        'second'        : 'modal-2',
        'third'         : 'modal-3',
        'sidebarLeft'   : 'sidebarLeft',
        'sidebarRight'  : 'sidebarRight',
        'sidebarTop'    : 'sidebarTop',
        'sidebarBottom' : 'sidebarBottom'
    }
