$fonts : (
    (
      'path' : map-get($default, 'path-fonts') + 'open-sans',
      'family' : (
        'opensansBold'              : 'opensans-bold-webfont',
        'opensansExtraBold'         : 'opensans-extrabold-webfont',
        'opensansLight'             : 'opensans-light-webfont',
        'opensansRegular'           : 'opensans-regular-webfont',
        'opensansSemiBold'          : 'opensans-semibold-webfont',
        'opensansBoldItalic'        : 'opensans-bolditalic-webfont',
        'opensansExtraBoldItalic'   : 'opensans-extrabolditalic-webfont',
        'opensansLightItalic'       : 'opensans-lightitalic-webfont',
        'opensansItalic'            : 'opensans-italic-webfont',
        'opensansSemiBoldItalic'    : 'opensans-semibolditalic-webfont',
      ),
    ),
);

@for $i from 0 to length($fonts) {
  $path: map-get(nth($fonts, $i+1), 'path');
  @each $name, $file in map-get(nth($fonts, $i+1), 'family') {
    @include font-face($name, $file, $path);
    %css-family-#{$name},
    .css-family-#{$name} {
      font-family: #{$name} !important;
    }
  }
}